@keyframes slideColorChange {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .sliding-effect {
    display: inline-block;
    background: linear-gradient(270deg, #ff6a00, #ee0979, #ff6a00);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slideColorChange 5s ease-in-out infinite;
  }
  